* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 245, 237);
}

.score-area form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.recent-scores {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

ul {
  list-style: none;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 35%;
  position: absolute;
  bottom: -25px;
  right: 0;
}

.form-area {
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  gap: 36px;
}

.scores ul {
  border: 2px solid #444;
  padding: 10px;
  margin-top: 10px;
}

.scores ul li {
  padding: 10px 0;
}
